body
{
background-image:url(../Img/tweed.png);
/* Background pattern from Toptal Subtle Patterns */
margin: 0;
}
.container
{
	background-color: white;
	width: none;
	height:768px;
	margin: auto;
	
}
.logo_serwisu
{
    background-color: white;
	width: none;
	height:200px;
	margin: auto;
	text-align: center;
	
}
.img_position
{
    display: block;
	margin: auto;
	
}
.nawigacja
{
	background-color: white;
	width:20%;
	height:900px;
	float: left
	
}
.główny_content
{
	background-color: skyblue;
	width:50%;
	height:900px;
	font-size: small;
	float: left
}
.główny_content_register
{
	background-color: skyblue;
	width:50%;
	height:900px;
	font-size: small;
	float: left
}
.tabela_graczy
{
	background-color: white;
	width:30%;
	height:900px;
	float: left
}
.stopka
{
	background-color: white;
	width:none;
	height:100px;
	border: 1px solid black;
	clear: both
}
